/*
*/

#info {
    background:white;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
}

.pages {
    color:white;
}

.page {
    /* every page should be positioned relative to the parent in the top-left corner */
    position:absolute;
    x:0;
    y:0;
    width:100%;
    text-align:center;
}
/* page-button-groups to show in the right top corner */
.page-button-group {
    position:absolute;
    top:2rem;
    right:2rem;
    margin:auto;
    font-size:2em;
}

/* h1 is used for page titles */
.page-title{
    font-size:2em;
}

/* setup rules page */
#page-setup-rules {
    background:black;
}

/* setup game page */
#page-setup-game {
    background:black;
}
.player-name {
    width:100%;
}
.player-name input{
    text-align:center;
    width:200px;
    height:40px;
}
/* bidding page */
#page-bidding {
    background:black;
}

/* playing page */
#page-playing {
    background:black;
}

