/*
*/
.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: gray;
}

#info {
    background:white;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
}

.prompt {
    font-size:2em;
}

input[type=button] {
    font-size:2.5em;
}

.pages {
    color:#333;
}

.trick {
    height:100px;
}

.page {
    /* every page should be positioned relative to the parent in the top-left corner */
    position:absolute;
    x:0;
    y:0;
    width:100%;
}

/* page-button-groups to show in the right top corner */
.page-button-group {
    position:absolute;
    top:2rem;
    right:2rem;
    margin:auto;
    font-size:2em;
}

/* h1 is used for page titles */
.page-title{
    font-size:2em;
}

/* setup rules page */
/*
#page-rules {
    background:black;
}
*/

/* setup game page */
/*
#page-setup-game {
    background:black;
}
*/
.player-name {
    width:100%;
}
.player-name input{
    text-align:center;
    width:200px;
    height:40px;
}
/* bidding page */
/*
#page-bidding {
    background:black;
}
*/

/* show the bids buttons in a row wrapping to the next line if possible */
.bid{
    display:flex;
    flex-wrap:wrap;
}

.bid button {
    margin:10px;
    padding:5px;

}

/* playing page */
/*
#page-playing {
    background:black;
}
*/

/* playing finished page */
#page-finished {
    background:blue;
}


